<extend name="public/element_base" />
<block name="main_body">
    <div class="layui-btn-group table-opr-tool-bar">
        <button class="layui-btn" data-type="add"><i class="layui-icon"></i>添加菜单</button>
    </div>
    <table id="main_table" lay-filter="main_table"></table>
</block>
<block name="footer_js">
    <script type="text/html" id="switchStatus">
        <input type="checkbox" name="is_status"  lay-skin="switch" disabled lay-text="是|否" {{ d.is_status == 1 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="opr_toolbar">
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add_child">添加子菜单</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
        layui.use(['table', 'form'], function(){
            var table = layui.table;
            //第一个实例
            table.render({
                elem: '#main_table',
                height: 'full-60',
                url: 'index.php?s={:request()->module()."/".request()->controller()."/".request()->action()}',
                method: 'post',
                page: false,
                limit:200,
                limits:[50,100,150],
                cols: [[ //表头
                    {field: 'index', title: '序号', align:'center', type:'numbers'},
                    {field: 'm_title', title: '菜单名称', width: 300, align:'center'},
                    {field: 'm_url', title: '连接地址',  align:'center', width: 300,},
                    {field: 'is_status', title: '是否启用',  align:'center', width:100, templet: '#switchStatus'},
                    {field:'opr_toolbar', title:'操作', width: 250, toolbar: '#opr_toolbar', align:'center'}
                ]]
            });
            //监听工具条
            table.on('tool(main_table)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        layer.close(index);
                        $.getJSON('index.php?s={:request()->module().'/'.request()->controller()."/delete"}&id='+data.shopmenu_id, function(data){
                            data = eval('(' + data + ')');
                            if(data.status != 0){
                                layer.msg(data.msg, {icon: 5});
                            }else{
                                layer.msg('操作成功！', {icon: 1});
                            }
                        });
                    });
                } else if(obj.event === 'edit'){
                    var index = layer.open({
                        type: 2,
                        scrollbar: true,
                        area : ['50%', '60%'],
                        content: 'index.php?s={:request()->module().'/'.request()->controller()."/edit"}&id='+data.shopmenu_id
                    });
//                    layer.iframeAuto(index);
                }else if(obj.event === 'add_child'){
                    var index = layer.open({
                        type: 2,
                        scrollbar: true,
                        area : ['50%', '60%'],
                        content: '{:url("add")}?p_id='+data.shopmenu_id
                    });
//                    layer.iframeAuto(index);
                }
            });
            //监听按钮组

            $('.table-opr-tool-bar .layui-btn').on('click', function(){
                var type = $(this).data('type');
                if(type == 'add'){
                    layer.open({
                        type: 2,
                        scrollbar: true,
                        area : ['50%', '60%'],
                        content: 'index.php?s={:request()->module().'/'.request()->controller()."/add"}'
                    });
                }
            });
        });
    </script>
</block>