<extend name="public/element_base" />
<block name="main_body">
    <form class="layui-form" action="" >
        <input type="hidden" name="shop_user_id" value="{$info['shop_user_id']|default=''}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="upassword" id="upassword" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="confirm_upassword" id="confirm_upassword" required  lay-verify="required" placeholder="请再输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="form_submit">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</block>
<block name="footer_js">
    <script>
        layui.use(['form'], function(){
            var form = layui.form;
            form.on('submit(form_submit)', function(data){
                var load_index = layer.load(0, {shade: 0.5});
                $.post('index.php?s={:request()->module().'/'.request()->controller().'/'.request()->action()}', data.field, function(data){
                    var obj = eval('(' + data + ')');
                    if(obj.status != 0){
                        layer.msg(obj.msg, {icon: 5});
                    }else{
                        layer.msg('操作成功！', {icon: 1, end:function(){window.location.href = window.location.href;}});

                    }
                    layer.close(load_index);
                });
                return false;
            });
        });

    </script>
</block>